:root {
    --x: 0px;
    --y: 0px;
}

.trivia_list {
    display: block;
    text-align: center;
    align-items: center;
    background: transparent;
    overflow-y: scroll;
    padding-bottom: 20px;
}

#trivia_solving_list, #trivia_created_list, #trivia_leaderboard_list {
    padding: 10px 0 10px 10px;
    margin-right: -5px;
    max-height: 100%;
}

.trivia_tabs_bottom,
.question_type_tabs {
    position: absolute;
    bottom: 16px;
    display: flex;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    padding: 3px 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    left: 10%;
    right: 10%;
    margin: 0 auto;
    overflow: visible;
    z-index: 99;
    box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
    backdrop-filter: url(#frosted-glass-effect);
    -webkit-backdrop-filter: blur(3px);
}

.question_type_tabs {
    position: static;
    margin: 10px 0;
}

.trivia_tabs_bottom button,
.question_type_tab {
    flex: 1 1 33%;
    border: none;
    background: transparent;
    color: rgba(34, 34, 34, 0.8);
    padding: 6px 0;
    margin: 0 -5px;
    border-radius: 27px;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

.trivia_tabs_bottom button {
    width: 100px;
    position: relative;
}

.trivia_tabs_bottom button.trivia_tab_active,
.question_type_tab_active {
    background: rgba(127, 136, 140, 0.8);
    color: #e2573b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15), inset 0 0 0 0.5px rgba(255, 255, 255, 0.25);
}

.trivia_tabs_bottom button:active {
    background: #d1d5db;
}

.trivia_tab_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.trivia_tab_label {
    font-size: 0.7em;
}

.trivia_tab_icon {
    width: 28px;
    height: 28px;
    display: block;
    margin: 0 auto 2px;
}

.trivia_tab_active .trivia_tab_icon {
    filter: invert(59%) sepia(59%) saturate(4032%) hue-rotate(338deg) brightness(92%) contrast(84%);
}

.trivia_tabs_bottom::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    border-radius: 30px 30px 0 0;
    pointer-events: none;
}

.trivia_button {
    position: absolute;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
    backdrop-filter: url(#frosted-glass-effect);
    -webkit-backdrop-filter: blur(3px);
    cursor: pointer;
    z-index: 12;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.trivia_button_icon {
    width: 20px;
    height: 20px;
    padding: 0 4px;
}

.trivia_edit_button {
    top: 63pt;
    left: 15px;
    padding: 6px 12px;
    font-size: 22px;
}

.trivia_list_button {
    position: relative;
    height: auto;
    width: calc(100% - 10px);
    min-height: 60px;
    overflow: hidden;
    margin: 0 5px 10px;
    word-wrap: break-word;
}

.section_header {
    font-size: 1em;
    margin-bottom: 20px;
}

.quiz_title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 5px;
    color: #e2573b;
}

#div\:quiz_title, .trivia_create_subtitle,
#div\:trivia_tab_label, #div\:span, .form_group label, .question_text, .quiz_questions, .quiz_info span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.question_item h3, .answer_text, .solve_quiz_container h3 {
    word-break: break-word;
}

.quiz_item {
    width: 100%;
    padding: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.quiz_questions {
    background: #e2573b;
    border-radius: 35px;
    display: inline-block;
    color: white;
    padding: 5px 10px;
    margin: 5px 0;
    width: fit-content;
}

.quiz_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    color: #666;
    width: 100%;
}

.author_info, .date_info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.list_icon {
    width: 16px;
    height: 16px;
    opacity: 0.7;
}

.quiz_section {
    margin-bottom: 110px;
}

.trivia_create_title {
    position: absolute;
    top: 85px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 11;
    margin: 0 60px;
    padding: 10px 0;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 1.2em;
    word-break: break-word;
}

.trivia_subtitle {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 11;
    margin: 0;
    padding: 5px 0;
    font-size: 0.7em;
    opacity: 0.5;
}

#div\:trivia-contacts::before, #div\:trivia-create::before, #div\:trivia-solve::before, #div\:trivia-results::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 95px;
    mask: linear-gradient(white, white, transparent);
    backdrop-filter: blur(4px);
    background: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.3) 60%,
    rgba(255, 255, 255, 0) 100%);
    z-index: 10;
    border-radius: 30px 30px 0 0;
    pointer-events: none;
}

.trivia_create_form {
    max-height: calc(100vh - 70px);
    min-height: calc(100vh - 70px);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px 30px 0 0;
    overflow-y: auto;
    scrollbar-gutter: stable;
    box-sizing: border-box;
    padding: 80px 0 15px 15px;
}

.form_group {
    margin-bottom: 15px;
}

.form_group label {
    display: block;
    margin: 0 5px 5px;
    font-weight: bold;
}

.form_input, .form_textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
}

.form_textarea {
    min-height: 50px;
    max-height: 200px;
    resize: vertical;
}

.question_item {
    background: #fff;
    border-radius: 35px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.question_item.collapsed {
    border-radius: 35px;
}

.question_item:not(.collapsed) {
    border-radius: 30px;
}

.collapsible-content {
    overflow: hidden;
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
}

.collapsible-content.collapsed {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.answers_container {
    margin: 25px 10px 0 0;
}

.answers_container .form_group {
    display: flex;
    align-items: center;
}

.answers_container .form_input {
    flex-grow: 1;
    margin: 0 10px;
}

.button_group {
    display: flex;
    justify-content: space-between;
}

.button_group .trivia_button {
    position: relative;
    top: initial;
    width: auto;
    padding: 0 10px;
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.spotlight::before{
    pointer-events: none;
    content: '';
    position: absolute;
    left: var(--x, 0px);
    top: var(--y, 0px);
    transform: translate(-50%,-50%);
    background: radial-gradient(var(--light),transparent,transparent);
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: 0.5s, top 0s, left 0s;
}

.spotlight:hover::before{
    opacity: 0.6;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    border: 6px solid transparent;
    background-clip: padding-box;
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    margin: 10px 0;
    background: transparent;
}

#div\:trivia-create::-webkit-scrollbar-track {
    margin-top: 75px;
}

#div\:textarea::-webkit-scrollbar-track {
    margin-top: 5px;
}

::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
    display: none;
}

.contacts_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 35px;
    min-height: 40px;
    background: rgba(255, 255, 255, 0.7);
}

.contact_pill {
    height: 30px;
    display: inline-flex;
    align-items: center;
    background-color: #e2573b;
    color: #fff;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 0.9em;
    gap: 5px;
}

.remove_contact {
    cursor: pointer;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
}

.remove_contact:hover {
    color: rgba(0, 0, 0, 0.7);
}

#add_contact_btn {
    position: relative;
    z-index: 9;
}

.answer_group {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
}

.answer_group:not(:last-of-type)::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 45px;
    right: 45px;
    max-width: 100%;
    height: 0.5px;
    background: rgba(0, 0, 0, 0.1);
}

.add_answer, .remove_answer {
    min-width: 25px;
    min-height: 25px;
    max-width: 25px;
    max-height: 25px;
    border-radius: 50%;
    border: none;
    display: grid;
    place-items: center;
    color: #fff;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    cursor: pointer;
    z-index: 9;
    transition: transform 0.3s ease;
    overflow: hidden;
    box-sizing: border-box;
}

.remove_answer {
    background: rgba(255, 0, 0, 0.8);
}

.add_answer {
    background: rgba(0, 255, 0, 0.8);
    margin: 20px 0 10px 10px;
}

.reorder_answer {
    border: none;
    display: grid;
    place-items: center;
    color: #fff;
    background: transparent;
    cursor: pointer;
    z-index: 9;
    transition: transform 0.3s ease;
    overflow: hidden;
    padding-right: 8px;
}

.trivia_button_icon_small {
    width: 12px;
    height: 12px;
    filter: invert(100%);
}

.question_header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: relative;
    margin: 0;
    width: 100%;
}

.question_header_left {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-self: start;
}

.question_header_right {
    display: flex;
    align-items: center;
    justify-self: end;
}

.question_label {
    grid-column: 2;
    margin: 0;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    padding: 0 10px;
}

.question_header .trivia_button {
    position: relative;
    top: auto;
    left: auto;
    margin-right: 5px;
}

.question_header .reorder_answer {
    background: transparent;
    border: none;
    margin-right: 8px;
}

input[type="checkbox"] {
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
    cursor: pointer;
    align-items: center;
}

input[type="radio"] {
    min-width: 15.3px;
    max-width: 15.3px;
    min-height: 15.3px;
    max-height: 15.3px;
    cursor: pointer;
    align-items: center;
}

.contacts_list_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.contact_item {
    display: flex;
    align-items: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    border: 1px solid #ddd;
}

.contact_item label {
    margin-left: 10px;
    flex-grow: 1;
}

.dragging {
}

.drop-above {
}

.drop-below {
}

.correct {
    color: green;
    font-weight: bold;
}

.incorrect {
    color: red;
    font-weight: bold;
}

#div\:trivia-list,
#div\:trivia-create,
#div\:trivia-solve,
#div\:trivia-contacts,
#div\:trivia-results,
#div\:trivia-quiz-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 70px;
}

.scene-enter-bottom {
    transform: translateY(100%);
}

.scene-exit-bottom {
    transform: translateY(100%);
}

#div\:back {
    z-index: 999;
}
